<h2>Home Component</h2>

<p>21 ноября отмечался Всемирный день приветствий. Узнайте о том, кто в качестве приветствия говорил "Как вы потеете?",
  а кто интересовался, не голодны ли вы</p>
<p>Необычный праздник появился в 1973 году, когда в разгар холодной войны американцы Брайан и Майкл Маккорман из штата
  Небраска в знак протеста против усиления международной напряженности отправили письма с радушными приветствиями во все
  концы мира и попросили адресата просто поприветствовать кого‑нибудь еще.</p>
<p>У каждого народа существуют свои обычаи приветствовать друг друга, но международный этикет по сути одинаков:
  встречаясь, люди желают друг другу добра и благополучия, хорошего дня или успехов в труде.</p>
